<!DOCTYPE html>
<html>
<head>
  <title>Blog1</title>
    <link href="blogs.css.scss" rel="stylesheet">

     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<% if user_signed_in? %>
<div class ="layout">
    <%=image_tag current_user.avatar.url%><br/>    
    You are logged in as <%= current_user.email%>, not you?
     
<%= link_to "sign out", destroy_user_session_path, :method =>:delete %>
<% else %>
 <%= link_to "sign up", new_user_registration_path%> or <%= link_to "sign in", new_user_session_path %>
<% end %>

<% flash.each do |key,value| %>
<p><%=value%></p>
<%end%>
</div>

<%= yield %>

</body>
</html>

